* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: "Open Sans", "Source Sans Pro", sans-serif;
   color: #3498db;
   line-height: 1.5;
}

header {
  width: 100%;
  padding: 1em;
  text-align: center;
}

section {
  padding: 2em;
}

.btn {
  display: inline-block;
  padding: .75em 1.25em;
  background-color: #3498db;
  border: 1px solid #3498db;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: .25em;
}

.btn:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.screenshots {
  width: 100%;
  background-color: #34495e;
}

.screenshots img {
  max-width: 100%;
}

footer {
  padding: 1.5em;
  width: 100%;
  background-color: #eff1f5;
  color: #4f5b66;
  font-size: 1em;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: #4f5b66;
  border-bottom: 1px solid #dfe1e8;
}

.download {
  margin-top: 2em;
}

@media (min-width: 768px) {
  header, section, footer {
    padding: 3em;
  }
}

@media (min-width: 1024px) {
    header, section, footer {
      padding: 4em;
    }
}

a {
   -webkit-transition: all .3s linear;
	transition: all .3s linear;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 1em;
}
