* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: "Open Sans", "Source Sans Pro", sans-serif;
  color: #3498db;
  line-height: 1.5;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 1em;
  text-align: center;
}

section {
  padding: 2em;
}

.btn {
  display: inline-block;
  padding: .75em 1.25em;
  background-color: #3498db;
  border: 1px solid #3498db;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: .25em;
}

.btn:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn.outline {
  background-color: transparent;
  border: 1px solid #3498db;
  color: #3498db;
}

.btn.outline:hover {
  border-color: #2980b9;
}

.screenshots {
  width: 100%;
  background-color: #3498db;
}

.screenshots img {
  max-width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: #3498db;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}

footer {
  padding: 1.5em;
  background-color: #eff1f5;
  color: #4f5b66;
  font-size: 1em;
  font-weight: 300;
}

footer a {
  text-decoration: none;
  color: #4f5b66;
  border-bottom: 1px solid #dfe1e8;
}

.download {
  margin-top: 2em;
}


@media (min-width: 768px) {
  header, section, footer {
    padding: 3em;
  }
}

@media (min-width: 1024px) {
    header, section, footer {
      padding: 4em;
    }
}

a {
   -webkit-transition: all .3s linear;
	transition: all .3s linear;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 1em;
}
